:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 96%);
    --light-gray-d09: hsl(0, 0%, 87%);
    --light-gray-d16: hsl(0, 0%, 80%);
    --gray: hsl(0, 0%, 50%);
    --mild-gray: hsl(0, 0%, 25%);
    --dark-gray: hsl(211, 13%, 12%);

    --white-a80: hsla(0, 0%, 100%, .8);

    --light-blue-l20: hsl(211, 100%, 80%);
    --light-blue-l18: hsl(211, 100%, 78%);
    --light-blue-l10: hsl(211, 100%, 70%);
    --light-blue-l08: hsl(211, 100%, 63%);
    --light-blue: hsl(211, 100%, 60%);
    --light-blue-d03: hsl(211, 100%, 57%);
    --light-blue-d10: hsl(211, 100%, 50%);
    --light-blue-d18: hsl(211, 100%, 42%);
    --light-blue-d20: hsl(211, 100%, 40%);

    --mild-blue: hsl(207, 90%, 54%);

    --light-blue-d03-a40: hsla(211, 100%, 57%, .4);
    --light-blue-d20-a20: hsl(211, 100%, 40%, .2);

    --dark-gray-a15: hsla(210, 13%, 12%, .15);
    --dark-gray-a10: hsla(210, 13%, 12%, .1);

    --bg-light-color: #fff;
    --bg-primary-color: hsl(0, 0%, 80%);
    --bg-accent-color: #FFEB93;
    --bg-tone-color: hsl(143, 84%, 37%);

    --thumb-accent-color: hsl(0, 0%, 66.3%);
    --thumb-contrast-color: hsl(210, 12.6%, 50%);
    --track-color: hsla(0, 0%, 94.5%);

    --main-primary-color: hsl(211, 100%, 60%);
    --main-accent-color: hsl(211, 100%, 57%);
    --main-strong-color: hsl(211, 100%, 40%);
    --main-contrast-color: hsl(0, 0%, 25%);

    --tlib-color: hsl(357, 100.0%, 59.8%);
    --tmap-color: hsl(203, 100.0%, 38.4%);

    --disabled-button-color: hsl(211, 100%, 80%);
    --disabled-accent-color: hsl(0, 0%, 87%);

    --light-text-color: #fff;

    --aside-width: 300px;
    --map-width: calc(100vw - var(--aside-width));
    --right-aside-width: 5vw;

    --summary-width: 280px;

    --menu-options-bottom: 90px;
    --menu-options-width: 180px;
    --menu-options-height: 320px;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
    background: var(--bg-light-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.wrapper .main {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
}

.main .aside {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: var(--aside-width);
    height: 100vh;
}

.main .map {
    width: var(--map-width);
}

.main .aside .part {
    width: 100%;
}

.aside .header {
    height: 64px;
    background-color: var(--main-accent-color);
    line-height: 2rem;
}

.aside .header .title {
    color: var(--light-text-color);
    font-size: 1.5rem;
    text-align: center;
}

.aside .footer {
    align-self: flex-end;
    height: 32px;
    line-height: 2rem;
    background-color: var(--light-gray);
    overflow: hidden;
}

.aside .footer .copy {
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
}

.aside .sections {
    align-self: flex-start;
    height: calc(100% - 96px);
    display: flex;
    flex-flow: column nowrap;
}

.aside .sections > section {
    border-bottom: 1px solid var(--light-gray-d09);
    padding-left: 20px;
}

.aside .sections > section:not(:last-child) {
    padding-bottom: 20px;
}

.aside .sections button {
    appearance: none;
    background-color: var(--main-primary-color);
    border: 1px solid var(--dark-gray-a15);
    border-radius: 6px;
    box-shadow: var(--dark-gray-a10) 0 1px 0;
    box-sizing: border-box;
    color: var(--light-text-color);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.aside .sections button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.aside .sections button:hover {
    background-color: var(--light-blue-d18);
}

.aside .sections button:focus {
    box-shadow: var(--light-blue-d03-a40) 0 0 0 3px;
    outline: none;
}

.aside .sections button:disabled {
    background-color: var(--disabled-button-color);
    border-color: var(--dark-gray-a10);
    color: var(--white-a80);
    cursor: default;
}

.aside .sections button:not([disabled]):active {
    background-color: var(--light-blue-d10);
    box-shadow: var(--light-blue-d20-a20) 0 1px 0 inset;
}

.sections section h2 {
    font-size: 1.2rem;
}

.sections section .title {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.sections section .title:after {
    content: "";
    flex: auto;
    margin-left: 1rem;
    border-top: 1px solid var(--light-gray-d09);
}

.sections .points .controls {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
}

.sections .points .controls .control {
    width: 100%;
}

.sections .points .controls .random {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 20px;
}

.sections .points .controls .options {
    display: flex;
    flex-flow: row nowrap;
}

/*Generators*/
.sections .generators .generate {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 20px;
}

.sections .generators .types {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 20px;
}

.line-divider {
    border-bottom: 1px solid var(--light-gray-d09);
}

.shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--aside-width);
    z-index: 20;
}

.shadow .bar {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
    background: url(../img/map_shadow.png) repeat-y;
}

/* Floating elements */
.floating {
    position: fixed;
    margin: 35px 25px;
}

.summary {
    width: var(--summary-width);
    z-index: 100;
    top: 0;
    left: var(--aside-width);
}

.summary table, .summary td, .summary th {
    border: 1px solid var(--light-gray-d09);
    border-left: none;
    border-right: none;
    line-height: 2rem;
    padding: 0 10px;
}

.summary table {
    width: 100%;
    border-collapse: collapse;
    background: var(--bg-light-color);
}

.summary th {
    background: var(--main-accent-color);
    color: var(--light-text-color);
}

.summary td.cell {
    text-align: right
}

.menu {
    bottom: 0;
    right: 0;
    z-index: 100;
}

.menu .button {
    cursor: pointer;
    width: 45px;
    height: 45px;
    background: var(--main-accent-color);
    border-radius: 50%;
    margin: auto;
    color: var(--light-text-color);
    line-height: 45px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    z-index: 100;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay-tags {
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0px 10px;
    width: 50px;
    user-select: none;
}

.overlay-tags .tag {
    display: inline-block;
    height: 24px;
    line-height: 22px;
    border-radius: 4px;
    padding: 0 10px;
    border: 1px solid var(--light-gray-d09);
    box-shadow: var(--dark-gray-a10) 0 1px 0;
}

.tag-tlib {
    background: var(--tlib-color);
    color: var(--light-text-color);
}

.tag-tmap {
    background: var(--tmap-color);
    color: var(--light-text-color);
}


.control-box {
    width: var(--menu-options-width);
    height: var(--menu-options-height);
    bottom: var(--menu-options-bottom);
    right: 0;
    background-color: var(--bg-light-color);
    z-index: 100;
    padding: 10px;
}

.control-box section h2 {
    font-size: 1.2rem;
}

/* Toggle switches */
.path-switches {
    display: flex;
    flex-flow: row wrap;
}

.path-switches .switch {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    column-gap: 5px;
    margin: 5px 0;
}

.toggler {
    position: relative;
    width: 50px;
    height: 25px;
}

.toggler input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.toggler label {
    cursor: pointer;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 25px;
    background: var(--main-contrast-color);
    display: block;
    border-radius: 100px;
    transition: .4s;
}

.toggler label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background: var(--bg-light-color);
    border-radius: 50%;
    transition: .4s;
}

.toggler input:checked + label {
    background: var(--main-primary-color);
}

.toggler input:disabled + label {
    background: var(--disabled-accent-color);
}

.toggler input:disabled:checked + label {
    background: var(--disabled-button-color);
}

.toggler label {
    box-shadow: 0 0 2px var(--dark-gray-a10);
}

.toggler input:checked + label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

.button-controls {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.button-controls .button {
    cursor: pointer;
    color: var(--main-primary-color)
}

/*!* Hide default HTML checkbox *!*/
/*.switch input {*/
/*    opacity: 0;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

/*!* The slider *!*/
/*.slider {*/
/*    position: absolute;*/
/*    cursor: pointer;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: #ccc;*/
/*    -webkit-transition: .4s;*/
/*    transition: .4s;*/
/*    border-radius: 34px;*/
/*}*/

/*.slider:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    height: 20px;*/
/*    width: 20px;*/
/*    left: 2px;*/
/*    bottom: 2px;*/
/*    background-color: white;*/
/*    -webkit-transition: .4s;*/
/*    transition: .4s;*/
/*    border-radius: 50%;*/
/*}*/

/*input:checked + .slider {*/
/*    background-color: #2196F3;*/
/*}*/

/*input:focus + .slider {*/
/*    box-shadow: 0 0 1px #2196F3;*/
/*}*/

/*input:checked + .slider:before {*/
/*    -webkit-transform: translateX(26px);*/
/*    -ms-transform: translateX(26px);*/
/*    transform: translateX(26px);*/
/*}*/


/*!* Style the tab *!*/
/*.tabs {*/
/*    overflow: hidden;*/
/*    border: 1px solid #ccc;*/
/*    background-color: #f1f1f1;*/
/*}*/

/*!* Style the buttons inside the tab *!*/
/*.tabs button {*/
/*    background-color: inherit;*/
/*    float: left;*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    padding: 14px 16px;*/
/*    transition: 0.3s;*/
/*    font-size: 17px;*/
/*}*/

/*!* Change background color of buttons on hover *!*/
/*.tabs button:hover {*/
/*    background-color: #ddd;*/
/*}*/

/*!* Create an active/current tab-link class *!*/
/*.tabs button.active {*/
/*    background-color: #ccc;*/
/*}*/

/*!* Style the tab content *!*/
/*.tabs-content {*/
/*    display: block;*/
/*    padding: 6px 12px;*/
/*    border: 1px solid #ccc;*/
/*    border-top: none;*/
/*}*/

/* Results Panel */
.sections .results {
    align-self: stretch;
    height: calc(100% - 244px);
}

.sections .results .content {
    height: calc(100% - 66px);
}

.tabs {
    display: flex;
    flex-flow: row nowrap;
    background: var(--dark-gray-a10);
    width: 100%;
    border-bottom: 1px solid var(--light-gray-d09);
}

.tabs .tab {
    --tab-bg-color: var(--dark-gray-a10);
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    position: relative;
}

.tabs .tab > input,
.tabs .tab > label {
    margin: 0;
    position: absolute;
    top: 0;
}

.tabs .tab > input {
    cursor: pointer;
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 99;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
}

.tabs .tab > label {
    text-align: center;
    left: 0;
    right: 0;
    overflow: hidden;
}

.tabs .tab > label {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.tabs .tab > input:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.tabs .tab > input:disabled + label,
.tabs .tab > input:disabled:hover + label {
    --tab-bg-color: var(--disabled-accent-color);
    background: var(--tab-bg-color);
    color: var(--light-text-color);
}

.tabs .tab > input:hover + label {
    --tab-bg-color: var(--light-blue-d18);
    background: var(--tab-bg-color);
}

.tabs .tab > input:checked + label {
    --tab-bg-color: var(--main-primary-color);
    background: var(--tab-bg-color);
}

.tabs .tab > input:hover + label,
.tabs .tab > input:checked + label {
    color: var(--light-text-color);
}

.ease {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.effect .line {
    background: var(--main-primary-color);
    width: 20%;
    height: 4px;
}

#tab-tlib:checked ~ .line {
    left: 0;
}

#tab-tmap:checked ~ .line {
    left: 20%;
}

.tabs-content {
    width: 100%;
    height: calc(100% - 33px);
    aspect-ratio: 1;
}

.tabs-content section {
    width: 100%;
    height: 100%;
    display: none;
}

.tabs-content section.active {
    display: block;
}

/* Timeline */
.timeline {
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
    padding-top: 15px;
    padding-left: 20px;
}

.timeline::-webkit-scrollbar {
    width: 1em;
}

.timeline::-webkit-scrollbar-thumb {
    background: var(--thumb-accent-color);
}

.timeline::-webkit-scrollbar-thumb:hover {
    background: var(--main-primary-color);
}

.timeline::-webkit-scrollbar-track {
    background: var(--track-color);
}

.timeline .step {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
}

.timeline .step:before {
    --bg-color: var(--main-primary-color);
    content: '';
    position: absolute;
    left: 15px;
    top: -32px;
    height: 0;
    width: 4px;
    background: var(--bg-color);
    transition: --bg-color 0.2s ease-out;
}

.timeline .step > div {
    cursor: pointer;
    user-select: none;
}

.timeline .step .tag {
    --bg-color: var(--main-primary-color);
    --tex-color: var(--light-text-color);
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    border: 2px solid var(--main-accent-color);
    border-radius: 50%;
    color: var(--tex-color);
    font-size: 1rem;
    font-weight: 600;
    margin-right: 14px;
    z-index: 100;
    transition: --bg-color 0.2s ease-out;
}

.timeline .step .tag.active {
    --bg-color: var(--bg-tone-color);
    color: var(--tex-color);
}

.timeline .step.active:before {
    --bg-color: var(--bg-tone-color)
}

.timeline .step .info {
    width: 72px;
    margin: 8px 0 20px;
}

.timeline .step .cost {
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 8px;
}

.timeline .step:not(:first-child):before {
    height: 75%;
}

.timeline .step:first-child:before {
    display: none;
}

.hidden {
    display: none !important;
}